name: CI

on:
  pull_request:
  push:
    branches:
    
jobs:

  Linux-stable:
    name: Linux-stable
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
      RUSTFLAGS: "--deny=warnings"
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt-get install -y clang-tidy-9
    - run: sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-9 100
    - run: which go && go version && which cargo && cargo version && clang --version && openssl version
    - run: scripts/reset-submodule.cmd
    - run: cargo fmt --all -- --check
    - run: scripts/lint-grpc-sys.sh && git diff-index --quiet HEAD
    - run: scripts/generate-bindings.sh && git diff --exit-code HEAD
    - run: cargo clippy --all -- -D clippy::all && cargo clippy --all --no-default-features --features prost-codec -- -D clippy::all
    - run: cargo build --no-default-features --features protobuf-codec
    - run: cargo build --no-default-features --features prost-codec
    - run: cargo build --all
    - run: cargo test --all
    # TODO: can't find library grpc via pkg-config in CI environment
    # - run: GRPCIO_SYS_USE_PKG_CONFIG=1 RUSTFLAGS="-A unused-attributes" cargo test --all
    - run: cargo test --features "openssl" --all
    - run: cargo test --features "openssl-vendored" --all

  Linux-nightly:
    name: Linux-nightly
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
      RUSTFLAGS: "--deny=warnings"
    steps:
    - uses: actions/checkout@v2
    - run: rustup default nightly
    - run: which go && go version && which cargo && cargo version && clang --version && openssl version
    - run: scripts/reset-submodule.cmd
    - run: cargo build --no-default-features --features protobuf-codec
    - run: cargo build --no-default-features --features prost-codec
    - run: cargo build --all
    - run: cargo test --all
    - run: cargo test --features "openssl" --all
    - run: cargo test --features "openssl-vendored" --all
    - run: RUSTFLAGS="-Z sanitizer=address" cargo test --all --target x86_64-unknown-linux-gnu

  Mac:
    name: Mac
    runs-on: macos-10.15
    env:
      RUST_BACKTRACE: 1
      RUSTFLAGS: "--deny=warnings"
    steps:
    - uses: actions/checkout@v2
    # TODO: openssl in mac meet something wrong
    - run: brew update && brew upgrade openssl@1.1 && export OPENSSL_ROOT_DIR=$(brew --prefix openssl)
    - run: which go && go version && which cargo && cargo version && clang --version && openssl version
    - run: scripts/reset-submodule.cmd
    - run: cargo build --no-default-features --features protobuf-codec
    - run: cargo build --no-default-features --features prost-codec
    - run: cargo build --all
    - run: cargo test --all
    # PROTOBUF_ROOT_DIR is wrong; Could NOT find OpenSSL
    # - run: cargo test --features "openssl" --all
    - run: cargo test --features "openssl-vendored" --all

  Win:
    name: Windows
    runs-on: windows-latest
    env:
      RUST_BACKTRACE: 1
      RUSTFLAGS: "--deny=warnings"
    steps:
    - uses: actions/checkout@v2
    - run: choco install -y llvm
    - run: refreshenv
    - run: go version ; cargo version ; cmake --version 
    - run: scripts/reset-submodule.cmd
    - run: cargo build --all
    - run: cargo test --all